<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561658411403-4h6erhmapam8890n87c6k7tmaj31qn54.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561658411403-4h6erhmapam8890n87c6k7tmaj31qn54</string>
	<key>API_KEY</key>
	<string>AIzaSyCwz5inM7PA8mtOnI55NbxP7Lw_OYWsfDs</string>
	<key>GCM_SENDER_ID</key>
	<string>561658411403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.rakushare.rakushare</string>
	<key>PROJECT_ID</key>
	<string>rakushare-bc7c8</string>
	<key>STORAGE_BUCKET</key>
	<string>rakushare-bc7c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561658411403:ios:9c9418d250d2a50a48178e</string>
</dict>
</plist>